@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand&family=Ubuntu&display=swap');

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

h1{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Quicksand', sans-serif;
}

code p {
    font-family: 'Ubuntu', sans-serif;
}