@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat&family=Quicksand:wght@500&display=swap');

/* 
font-family: 'Courgette', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

h1{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Quicksand', sans-serif;
}